In [82]:
import torch
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt
from torchvision.transforms import Normalize
from collections import namedtuple

torch.cuda.is_available()
from utils import correct

In [83]:
reuters=pd.read_csv("data/reut_data.csv",sep='|')

sx5e_data=pd.read_csv("data\SX5E.csv")

In [84]:
reuters.drop(columns='column1',inplace=True)

In [85]:
reuters.drop_duplicates(subset ="Headline",
                     keep = 'first', inplace = True)
reuters.dropna(inplace=True)

In [86]:
sx5e_data.columns

Index(['Date', ' Open', ' High', ' Low', ' Close'], dtype='object')

In [87]:
sx5e_data['Date']=pd.to_datetime(sx5e_data.Date)
sx5e_data = sx5e_data.sort_index(axis=0 ,ascending=False)
sx5e_data.reset_index(drop=True,inplace=True)

In [88]:
sx5e_data.head()

        Date     Open     High      Low    Close
0 2010-01-01  2964.96  2964.96  2964.96  2964.96
1 2010-01-04  2976.09  3017.80  2974.86  3017.80
2 2010-01-05  3014.56  3025.60  3006.47  3012.36
3 2010-01-06  3013.06  3016.83  2997.05  3009.66
4 2010-01-07  2997.37  3013.90  2979.80  3007.34

In [89]:
reuters.head()

         Date                                           Headline
0  2021-12-10  REFILE-UPDATE 2-European stocks slip on Omicro...
1  2021-12-10  Tech stocks drag European shares ahead of U.S....
2  2021-12-09  UPDATE 2-European shares fall again on Omicron...
3  2021-12-09  European shares rebound as vaccine reassurance...
4  2021-12-08  UPDATE 2-European shares end lower as tech, lu...

In [90]:
print(reuters.head())
print(sx5e_data.head())
print(sx5e_data.shape)
print(len(reuters))
print(reuters['Headline'][1])
reuters.dropna(inplace=True)
reuters.reset_index(drop=False,inplace=True)

         Date                                           Headline
0  2021-12-10  REFILE-UPDATE 2-European stocks slip on Omicro...
1  2021-12-10  Tech stocks drag European shares ahead of U.S....
2  2021-12-09  UPDATE 2-European shares fall again on Omicron...
3  2021-12-09  European shares rebound as vaccine reassurance...
4  2021-12-08  UPDATE 2-European shares end lower as tech, lu...
        Date     Open     High      Low    Close
0 2010-01-01  2964.96  2964.96  2964.96  2964.96
1 2010-01-04  2976.09  3017.80  2974.86  3017.80
2 2010-01-05  3014.56  3025.60  3006.47  3012.36
3 2010-01-06  3013.06  3016.83  2997.05  3009.66
4 2010-01-07  2997.37  3013.90  2979.80  3007.34
(3106, 5)
12659
Tech stocks drag European shares ahead of U.S. inflation data

In [91]:
for i in range(len(reuters)):
    text=reuters['Headline'][i]
    text=text.replace("REFILE-UPDATE 2-","")
    text=text.replace("UPDATE 2-","")
    text=text.replace("UPDATE 1-","")
    text=text.replace("UPDATE ","")
    text=text.replace(",","")
    text=text.replace(".","")
    text=text.replace(";","")
    text=text.replace(":","")
    text=text.replace("-","")
    text=text.replace("European","")
    reuters['Headline'][i]=text

<ipython-input-91-4fffbfdca2bc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reuters['Headline'][i]=text

In [92]:
text=reuters['Headline'][1464]

In [93]:
sx5e_data.drop(columns=[' Open',' High',' Low'],inplace=True)

In [94]:
sx5e_data.head()

        Date    Close
0 2010-01-01  2964.96
1 2010-01-04  3017.80
2 2010-01-05  3012.36
3 2010-01-06  3009.66
4 2010-01-07  3007.34

In [95]:
def return_fun(data,delta_t):
    data1=data.to_numpy()
    ret_fun=[]
    for i in range(len(data1)-delta_t):
        ret_fun.append(100*(data1[i+delta_t,1]-data1[i,1])/data1[i,1])
    for i in range(delta_t):
        ret_fun.append(None)
    ret_fun=ret_fun
    return ret_fun

In [96]:
ret_fun=return_fun(sx5e_data,1)
print(ret_fun[2])

-0.08963072142772685

In [97]:
sx5e_data['Return']=ret_fun

In [98]:
sx5e_data.dropna(inplace=True)
sx5e_data.head()

        Date    Close    Return
0 2010-01-01  2964.96  1.782149
1 2010-01-04  3017.80 -0.180264
2 2010-01-05  3012.36 -0.089631
3 2010-01-06  3009.66 -0.077085
4 2010-01-07  3007.34  0.349478

In [99]:
class Lang:
    def __init__(self, name):
        self.name = name
        self.word2index = {}
        self.word2count = {}
        self.index2word = {}
        self.n_words = 0 

    def addSentence(self, sentence):
        for word in sentence.split(' '):
            self.addWord(word)

    def addWord(self, word):
        if word not in self.word2index:
            self.word2index[word] = self.n_words
            self.word2count[word] = 1
            self.index2word[self.n_words] = word
            self.n_words += 1
        else:
            self.word2count[word] += 1
            
def indexesFromSentence(lang, sentence):
    return [lang.word2index[word] for word in sentence.split(' ')]

def tensorFromSentence(lang, sentence):
    indexes = indexesFromSentence(lang, sentence)
    return torch.tensor(indexes, dtype=torch.long).view(-1)

In [101]:
ret_fun.remove(None)
tensor_ret=torch.tensor(ret_fun,dtype=torch.float32)
mean_ret=torch.mean(tensor_ret)
std_ret=torch.std(tensor_ret)
ret_norm=(tensor_ret-mean_ret)/std_ret

In [102]:
lang=Lang('t')

for i in range(len(reuters)):
    sentence=reuters['Headline'][i]
    lang.addSentence(sentence)

In [103]:
data_set=[]
data=namedtuple('Data',['headline','ret'])
for i in range(len(reuters)):
    headline=tensorFromSentence(lang,reuters['Headline'][i])
    row=sx5e_data.loc[sx5e_data['Date']== reuters['Date'][i]]
    ret=row['Return']
    if(ret.empty):
        continue
    ret=torch.tensor(ret.values)
    r=(ret-mean_ret)/std_ret
    d=data(headline,r)
    data_set.append(d)

In [104]:
len(data_set)

12654

In [105]:
train_data=data_set[3232:]
val_data=data_set[1616:3232]
test_data=data_set[:1616]
print(len(train_data))
print(len(val_data))
print(len(test_data))

9422
1616
1616

In [106]:
def correct(output,target,std_ret,mean_ret):
    o=output.flatten()*std_ret +mean_ret
    t=target*std_ret + mean_ret
    tmp=o*t
    correct=0
    for i in range(len(tmp)):
        if(tmp[i].item() > 0):
            correct+=1
    return correct

In [110]:
train_loader=torch.utils.data.DataLoader(train_data, batch_size=1,shuffle=True)
val_loader=torch.utils.data.DataLoader(val_data, batch_size=1)
test_loader=torch.utils.data.DataLoader(test_data, batch_size=1)

In [113]:
from utils import TextOnlyGRU

ImportError: cannot import name 'TextOnlyGRU' from 'utils' (G:\Nauczanie_maszynowe\Projekt\utils.py)

In [112]:
text_only_gru=TextOnlyGRU(lang.n_words,256,128,1).cuda()
params = text_only_gru.parameters()

loss_fn=torch.nn.MSELoss()
optimizer = torch.optim.Adam(params, lr=0.02) 
scheduler = torch.optim.lr_scheduler.ExponentialLR(optimizer, gamma=0.9)


epoch = 30


history_train_loss=[]
history_val_loss=[]

history_train_acc=[]
history_val_acc=[]


for e in range(1,epoch+1):    
   
    corr=0
    
    text_only_gru.train()
    loss_buffer=[]
    for i, (x, y) in enumerate(train_loader):
        size+=len(y)
        x = x.cuda()
        y = y.cuda()
        optimizer.zero_grad()
        
        output = text_only_gru(x)
        output= output.float()
        y=y.float()
        loss = loss_fn(output, y)
        corr+=correct(output,y,std_ret,mean_ret)
        running_loss+=loss.item()
        loss_buffer.append(loss.item())
        loss.backward()
        optimizer.step() 
        
        if(i%1000==1):
            print(f"Epoch: {e} Progress: {100 * i/len(train_loader):2.0f}% Loss: {torch.mean(torch.tensor(loss_buffer)):.3f}")
    
    scheduler.step()
    
    train_loss=torch.mean(torch.tensor(loss_buffer))
    history_train_loss.append(train_loss)
    train_acc=corr/len(train_loader)
    history_train_acc.append(train_acc)
    
    print()
    print(f"Epoch:  {e}  Train Loss:  {train_loss:.3f} Train Acc: {train_acc:.5f}")
    
    
    text_only_gru.eval()
    with torch.no_grad():
        val_loss_buffer=[]
        val_ac=0
        cor=0
        for i, (x,y) in enumerate(val_loader):
            x=x.cuda()
            y=y.cuda()
            
            output=text_only_gru(x)
            output.float()
            y.float()
            val_loss_buffer.append(loss_fn(output,y).item())
            
            
            cor+=correct(output,y,std_ret,mean_ret)
            
        val_acc=cor/len(val_loader)
        val_loss=torch.mean(torch.tensor(val_loss_buffer))
        print(f"Val loss: {val_loss:.3f} Val Acc {val_acc:.5f}")
        print()
        
        history_val_loss.append(val_loss)
        history_val_acc.append(val_acc)

Epoch: 1 Progress:  0% Loss: 2.905
Epoch: 1 Progress: 11% Loss: 1.578

KeyboardInterrupt: